body {
    background: #fdcf60;
    color: #16214b;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #16214b;
  }

  .main-home {
    color: #0c45a6;
    padding-bottom: 15px;
  }
  
  ul {
    margin: 0;
    color: #0c45a6;
  }
  
  .bg-navy {
    background-color: #16214b;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #fdcf60;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background-color:	#ffffff;
    padding: 10px 20px;
    border: 3px solid #0c45a6;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .task-section {
    background-color:	#0c45a6;
    padding: 10px 20px;
    border: 3px solid #16214b;
    border-radius: 3px;
    margin-bottom: 20px;
  }

  .task-heading {
    color: #ffffff;
    border-bottom: 3px solid #16214b;
    padding-bottom: 15px;
  }
  a.task-heading:hover {
    color: #fdcf60;
    text-decoration: none;
    padding-bottom: 15px;
  }
  .list-group-item {
    color: #16214b;
    background-color: #ffffff;
    border: 3px solid #16214b;
  }
  .task-description {
    padding: 5px;
    color: #fdcf60;
  }

  .article-title {
    color: #0c45a6;
  }
  
  a.article-title:hover {
    color: #16214b;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  .article-reflection {
    white-space: pre-line;
    color: #ffffff;
    background-color: #0c45a6;
    border: 3px solid #16214b;
    padding: 10px 20px;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 3px solid #0c45a6
  }
  .article-author {
    color: #0c45a6;
  }
  
  .article-metadata a:hover {
    color: #16214b;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading, .form-section {
    font-size: 2.5rem;
    color: #16214b;
    border-bottom: 3px, #fdcf60;
  }

.form, .form-group{
  background-color: #ffffff;
  color: #0c45a6;
}